node_modules/
build/
package-lock.json
cache/
artifacts/
coverage/
coverage.json

#files
.env

# types
src/types/*
!src/types/common.ts
!src/types/Greeter.ts

# factories
!src/types/factories
src/types/factories/*
!src/types/factories/Greeter__Factory.ts
